#asideMenu{
    width: 250px;
    display: inline-block;
}
.category {
    background-color: #FFFFFF;
    border: none;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 2px;
}
#asideMenu .category>ul{
    position: relative;
}
#asideMenu .category>ul>li::after{
    content: ">";
    position: absolute;
    right: 10px;
}
#asideMenu .category>ul>li{
    font-size: 14px;
    position: relative;
    height: 26px;
    line-height: 26px;
    padding: 2px 0;
    padding-left: 18px;
}
#asideMenu .category>ul>li a{
    color: #636363;
}
#asideMenu .category li:hover {
    border-right: 0;
    color: #c81623;
    background-color: #d9d9d9;
}
#asideMenu .category li>a:hover{
    color: #c81623;
}
#asideMenu .submenu {
    display: none;
    position: absolute;
    left: 251px;
    top:-11px;
    width: 470px;
    height: 374px;
    overflow-y: auto;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}
#asideMenu .category li:hover .submenu {
    display: block;
}
#asideMenu .submenu dl {
    display: block;
    border-bottom: 1px solid #EEE;
    overflow: hidden;
}
#asideMenu .submenu dl:last-child {
    border-bottom: 0;
}
#asideMenu .submenu dl{
    display: block;
    overflow: hidden;
    margin-top: 5px;
}
#asideMenu .submenu dl dt{
    display: block;
    float: left;
    width: 70px;
    text-align: right;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    font-weight: 700;
}
#asideMenu .submenu dl dt span{
    color: #000;
}
#asideMenu .submenu dl dt span::after{
    content: ">";
    margin-left: 5px;
}
#asideMenu .submenu dl dd {
    margin-left: 71px;
    padding-bottom: 5px;
}
#asideMenu .submenu dl dd a {
    display: block;  
    float: left;
    color: #737373;
    font-size: 10px;  
    padding: 0 8px;  
    height: 14px;
    line-height: 14px;  
    margin: 4px 0;
}
#asideMenu .submenu dl dd a:hover{
    color: #c81623;
}
#asideMenu>div>ul>li:nth-child(2) .submenu{
    top: -41px;
}
#asideMenu>div>ul>li:nth-child(3) .submenu{
    top: -71px;
}
#asideMenu>div>ul>li:nth-child(4) .submenu{
    top: -101px;
}
#asideMenu>div>ul>li:nth-child(5) .submenu{
    top: -131px;
}
#asideMenu>div>ul>li:nth-child(6) .submenu{
    top: -161px;
}
#asideMenu>div>ul>li:nth-child(7) .submenu{
    top: -191px;
}
#asideMenu>div>ul>li:nth-child(8) .submenu{
    top: -221px;
}
#asideMenu>div>ul>li:nth-child(9) .submenu{
    top: -251px;
}
#asideMenu>div>ul>li:nth-child(10) .submenu{
    top: -281px;
}
#asideMenu>div>ul>li:nth-child(11) .submenu{
    top: -311px;
}
#asideMenu>div>ul>li:nth-child(12) .submenu{
    top: -341px;
}